html, body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

.squares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.squares .item {
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #212121;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

@media only screen and (min-width: 640px) {
  .squares .item {
    width: 50%;
  }
}

@media only screen and (min-width: 640px) {
  .squares .item {
    font-size: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .squares .item {
    font-size: 48px;
  }
}

.squares .item:nth-child(2n-1) {
  background-color: #fff;
  color: #212121;
}

.squares .item.twitch {
  background-color: #9146FF;
}

.squares .item.discord {
  background-color: #7289DA;
}

.squares .item.discord img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.squares .item.youtube {
  background-color: #FF0000;
}

.squares .item.youtube img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.squares .item img {
  max-width: 50%;
  width: 240px;
}

.squares .item > * + * {
  margin-top: 40px;
}

.squares .item > * {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  -o-transition: transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
}

.squares .item:hover > * {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
