// colors

    $twitch: #9146FF;
    $discord: #7289DA;
    $youtube: #FF0000;

// media queries

    @mixin tablet {
        @media only screen and (min-width: 640px) {
            @content;
        }
    }

    @mixin desktop {
        @media only screen and (min-width: 1280px) {
            @content;
        }
    }

    @mixin custom($size) {
        @media only screen and (min-width: $size) {
            @content;
        }
    }

// style

html, body {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.squares {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .item {
        width: 100%;
        @include tablet { width: 50%; }
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #212121;
        text-decoration: none;
        color: #fff;
        font-size: 24px;
        @include tablet { font-size: 32px; }
        @include desktop { font-size: 48px; }

        &:nth-child(2n-1) {
            background-color: #fff;
            color: #212121;
        }

        &.twitch {
            background-color: $twitch;
        }

        &.discord {
            background-color: $discord;

            img {
                filter: invert(100%);
            }
        }

        &.youtube {
            background-color: $youtube;

            img {
                filter: invert(100%);
            }
        }

        &.bandhok {

        }

        img {
            max-width: 50%;
            width: 240px;
        }

        > * + * {
            margin-top: 40px;
        }

        > * {
            transform: scale(1);
            transition: transform 250ms ease;
        }

        &:hover {
            > * {
                transform: scale(1.2);
            }
        }
    }
}